@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");

body {
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
}

ul {
    list-style: none;
    padding-left: 0;
}

.bold {
    font-weight: bold;
}

.container {
    display: flex;
    height: 100vh;
}

.mapContainer {
    width: 50vw;
    padding: 2em;
    border-right: 2px solid #E6E6E6;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sidebar.left {
    border-right: 2px solid #E6E6E6;
    box-sizing: border-box;
    padding: 2em;
    flex: 1 0 12vw;
}

.sidebar.left .fa-filter {
    padding: 1em;
}

.sidebar.left ul li {
    padding: 1em;
    cursor: pointer;
}

.sidebar.left ul .daycheck {
    margin-right: 1em;
}

.sidebar.right {
    display: flex;
    flex-direction: column;
    flex: 1 0 25vw
}

.sidebar .selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 15vh;
}

.sidebar .selection .keys {
    display: flex;
}

.sidebar .selection .keys .key {
    border: 1px solid #cccccc;
    padding: 1em;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebar.right .chart-container {
    height: 60vh;
    margin: 2em;
}

.sidebar.right .chart {
    height: 50vh;
    width: 30vw;
}

.sidebar.right .info {
    height: 30vw;
}

.info {
    display: flex;
    flex-direction: column;
}

.info .block {
    display: flex;
    flex: 1;
}

.info .block .item {
    flex: 1;
    display: flex;
    justify-content: center;
}

.info .block .item .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* D3 Styling */
/*.bar {*/
    /*fill: #ccc;*/
/*}*/

.bar[data-day="Sunday"]:hover {
    fill: #fa436b;
}

.bar[data-day="Monday"]:hover {
    fill: #1976D2;
}

.bar[data-day="Tuesday"]:hover {
    fill: #2196F3;
}

.bar[data-day="Wednesday"]:hover {
    fill: #BBDEFB;
}

.bar[data-day="Thursday"]:hover {
    fill: #FAA613;
}

.bar[data-day="Friday"]:hover {
    fill: #4CAF50;
}

.bar[data-day="Saturday"]:hover {
    fill: #49d5a2;
}

.land {
    fill: #fff;
    stroke: #D7D7D7;
}
