@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");

/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}


/* Basic */
html {
    height: 100%;
}

    body {
        background: #E6E6E6;
        height: 100%;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
        font-size: 1em;
        line-height: 1.75em;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 900;
        color: inherit;
    }

#header {
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    height: 3em;
    line-height: 3em;
    box-shadow: 0 0 0.15em 0 rgba(0, 0, 0, 0.1);
}

#logo {
    position: absolute;
    left: 1em;
    top: 0;
    height: 3em;
    line-height: 3em;
    color: #4A90E2;
    font-weight: 300;
}

#container {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-top: 3em;
}

#leftSideBar {
    height: 100%;
    width: 12em;
    background-color: #ffffff;
    border-right: 2px solid #E6E6E6;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    #leftSideBar .fa-filter {
        display: inline;
        padding: 1em;
    }

    #leftSideBar .daycheck {
        padding: 1em;
        cursor: pointer;
    }

    #leftSideBar li {
        padding-right: 1em;
        cursor: pointer;
    }

    #dayFilter {
        min-width: 10em;
    }

    #platformFilter {
        min-width: 10em;
    }
#mapView {
    flex: 6;
}

#rightSideBar {
    flex: 3;
    border-left: 2px solid #E6E6E6;
    background-color: #ffffff;
}


body{
    width:100%;
    height:100%;
    overflow:hidden;
}

h2 {
    text-align: center;
    font-family: "Avenir Next Condensed";
    font-weight: normal;
    margin: 0;
}

h3 {
    text-align: center;
    font-family: "Avenir Next Condensed";
    font-weight: normal;
    margin: 0;
}
.container {
    display: block;
}

.map {
    transform-origin: center center;
}

circle {
    stroke-width: 0.7;
    opacity: 0.7;
}

div.day_buttons {
    position: fixed;
    top: 5px;
    left: 10px;
}

div.day_buttons div {
    background-color: white;
    padding: 3px;
    margin: 7px;
}


.graticule {
    fill: none;
    stroke: #777;
    stroke-width: 0.5px;
    stroke-opacity: 0.5;
}

.land {
    fill: #fff;
    stroke: #BFBFBF;
}

.boundary {
    fill: none;
    stroke: #fff;
    stroke-width: 0.5px;
}

#dataView {
    height: 100%;
}